.top{
    
    background-color: cadetblue;
    margin-bottom: 0%;
    
    padding: 20px;
}
body{
    margin-top: 0%;
    margin: 0;
    text-align: center;


}
.top{
    position: relative;
    padding-top: 100px;
}
.middle{
    border: 20px;
    border: solid;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    margin-left: 240px;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;
}
.words{
    position: absolute;
    right: 350px;
    top: 80px;
}
.bottom{
    border: solid;
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    margin-left: 440px;
}


h1{
    margin-top: 0;
}